@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
} */

.react__slick__slider__parent {
  position: relative;
}

.react__slick__slider__parent .slick-prev,
.react__slick__slider__parent .slick-next {
  position: absolute;
  top: 50%;
}
.react__slick__slider__parent .slick-prev {
  color: black;
  z-index: 1;
}
.react__slick__slider__parent .slick-next {
  border-radius: 50%;
  color: black;
  z-index: 1;
}

.react__slick__slider__parent .slick-prev:before,
.slick-next:before {
  color: black;
}

.react__slick__slider__parent .slick-next:before,
.slick-prev:before {
  color: black;
}


.inc-dec-count{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 85px;
  border: 0px solid #d4d5d9;
  text-align: center;
  font-weight: 600;
  color: #60b246;
  line-height: 30px;
  height: 31px;
  user-select: none;
  box-shadow: 0 3px 8px #e9e9eb;
border-radius: 4px;
 }

 .minus-counter{
  width: 33.33%;
  font-size: 150%;
  font-weight: 600;
  padding-bottom: 3px;
  color: #BEBFC5;
  cursor: pointer;
 }

 .plus-counter{
  width: 33.33%;
    font-size: 100%;
    font-weight: 600;
    cursor: pointer;
 }